<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <nav>
      <%= link_to image_tag("husaria-logo.png", alt: "Husaria logo"),
                  root_path %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME",   '#' %></li>
        <li><%= link_to "HUSARZ.PL",   'http://husarz.pl/' %></li>
        <% if logged_in? %>
          <li><%= link_to "MEMBERS", users_path %></li>
          <li><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
          <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "SIGN UP", signup_path %></li>
          <li><%= link_to "LOG IN", login_path %></li>

        <% end %>
      </ul>
    </nav>
  </div>
</header>